<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>flask-google-login</title>
    <style>
      div {
        margin-left: 50px;
      }
      h3 {
        margin-bottom: 10px;
      }
      span, img {
        margin-left: 20px;
      }
    </style>
  </head>
  <body>
    {% if user %}
      <div>
        <a href="/logout">Logout</a>
        <h3>name</h3>
        <span>{{ user["name"] }}</span>
        <h3>given_name</h3>
        <span>{{ user["given_name"] }}</span>
        <h3>family_name</h3>
        <span>{{ user["family_name"] }}</span>
        <h3>picture</h3>
        <img src="{{ user["picture"] }}" style="max-width: 100px; height: auto;">
        <h3>email</h3>
        <span>{{ user["email"] }}</span>
      </div>
    {% else %}
      <div>
        <a href="/login">Login with Google</a>
      </div>
    {% endif %}
  </body>
</html>
